.body{
  width: 100%;
  background-color: aquamarine;
  margin: 0px;
  padding: 0px;
  background-attachment: fixed;
  background-size: cover;
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
 
}
.main{
  margin-top: 70px;
  
}