.body{
  width: 100%;
  background-color: rgb(52, 56, 55);
  margin: 0px;
  padding: 0px;
  background-attachment: fixed;
  background-size: cover;
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
 
}
.main{
  margin-top: 70px;
  
}

@media (max-width: 500px) {
  .main{
    margin-top: 50px;
  }

}