.content-container{
  --mdc-theme-primary: #f8982d;
  --mdc-outlined-button-outline-color: #f8982d;
  --mdc-theme-on-primary: #fff;
  font-family: Roboto,sans-serif;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
  max-width: 100%;
  width: 480px;
}
.top-bar{
  --mdc-theme-primary: #f8982d;
  --mdc-outlined-button-outline-color: #f8982d;
  --mdc-theme-on-primary: #fff;
  font-family: Roboto,sans-serif;
  padding: 8px;
}




.header{
  --mdc-theme-primary: #f8982d;
  --mdc-outlined-button-outline-color: #f8982d;
  --mdc-theme-on-primary: #fff;
  font-family: Roboto,sans-serif;
  align-items: center;
  display: flex;
  height: 64px;
  justify-content: center;
  margin: 0 0 8px;
  position: relative;
}
.logo{
  --mdc-theme-primary: #f8982d;
  --mdc-outlined-button-outline-color: #f8982d;
  --mdc-theme-on-primary: #fff;
  font-family: Roboto,sans-serif;
  height: 30px;
  width: 100px;
}


.progress-container{
  --mdc-theme-primary: #f8982d;
  --mdc-outlined-button-outline-color: #f8982d;
  --mdc-theme-on-primary: #fff;
  font-family: Roboto,sans-serif;
  width: 100%;
}
.card{
  --mdc-theme-primary: #f8982d;
  --mdc-outlined-button-outline-color: #f8982d;
  --mdc-theme-on-primary: #fff;
  font-family: Roboto,sans-serif;
  background-color: #fff;
  border-radius: 4px;
  flex: 1;
  padding: 8px 24px;
  position: relative;
}
.center{
  --mdc-theme-primary: #f8982d;
  --mdc-outlined-button-outline-color: #f8982d;
  --mdc-theme-on-primary: #fff;
  font-family: Roboto,sans-serif;
  text-align: center;
}
.jumia-logo{
  --mdc-theme-primary: #f8982d;
  --mdc-outlined-button-outline-color: #f8982d;
  --mdc-theme-on-primary: #fff;
  font-family: Roboto,sans-serif;
  padding: 32px 0;
  text-align: center;
  width: 100%;
}



